html {
    scroll-behavior: smooth;
}
.card-post {
    background-color: #ffffff;
    padding: 50px 35px 50px 35px;
    border-radius: 30px;
    box-shadow: 0px 10px 90px 0px rgba(110, 123, 131, 0.2);
    margin-bottom: 30px;
}

.card-post a {
    color: #212529;
}

.card-post:hover {
    transition: ease-in-out 0.1s;
    box-shadow: 0px 10px 90px 0px rgba(110, 123, 131, 0.3);
}

.card-post:hover .deal-link {
    transition: ease-in-out 0.1s;

    text-decoration: none;

    color: #0085a1;
}

.post-preview a {
    color: #212529;
}
.post-preview a:hover {
    text-decoration: none;
    color: #0085a1;
}

.fixed-nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.page-link {
    color: #212529;
}

.page-link:hover {
    color: #0085a1;
}

.page-item.active .page-link {
    border-color: #0085a1 !important;
    background-color: #0085a1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    /* border-radius: 50%; */
    background-image: none;
    font-family: "fontAwesome !Important";
}

.carousel-control-next-icon:after {
    content: "#xf060";
    font-size: 40px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 40px;
    color: #0085a1;
}
